/* main */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    color: rgb(30, 28, 28);
}
a {
    text-decoration: none;
}

/* nav */
.heading{
    background: fixed;
    border-bottom: 1 px solid #585656;
}

.nav-c{
    max-width: 1600px;
    margin: 0 auto;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.nav-i{
display: flex;
    gap: 24px;
    font-size: 14px;
    align-items: center;
    text-align: center;
}
.btn{
    background: rgb(5, 194, 241);
    color:whitesmoke;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
}
.btn:hover{
    background: rgb(231, 202, 14);
    transition: 0.3s;
}

.hero{
    background: linear-gradient(rgba(15, 23, 42, 0.7), rgba(15, 23, 42, 0.7)), url('./assets/hero-bg.png');
    background-size: 1600px 674px;
    background-position: center;
    display: flex;
    padding: 200px 120px;
    align-items: center;
}
.hero .hero-i{
    max-width: 600px;
    color: whitesmoke;
    margin: auto;
    text-align: center;
}
.badge{
    background: rgb(5, 194, 241);
    color: whitesmoke;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
    margin-bottom: 16px;
}
.hero h1{
    font-size: 36px;
    color: rgb(255, 255, 255);
  
}
.hero h1 span{
    color: rgb(228, 199, 4);

}

.hero p{
    font-size: 12px;
    color: rgb(235, 235, 235);
}
.hero-a{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 24px;
}
.btn2{
    border: 2px solid rgb(240, 209, 7);
    color: rgb(235, 235, 235);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 12px;
}
.btn2:hover{
    background: rgb(5, 194, 241);
    transition: 0.3s;
}

.sec-2{
    padding: 80px 20px;
    max-width: 1200px;
}
.sec-2-head{

    text-align: center;
    gap: 40px;
    justify-content: center;
    
}
.sec-2-head h2{
    font-size: 28px;
    gap: 50px;
    color: rgb(5, 194, 241);
    
}
.sec-2-head p{
    font-size: 14px;
    color: rgb(100, 100, 100);
    margin-top: 14px;
    margin-bottom: 28px;
}
.sec-2-cards{
max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;

}
.cards{
    background: rgb(250, 250, 250);
    border-radius: 10px;
        padding: 26px;
        text-align: center;
        box-shadow:0 4px 12px rgb(5, 194, 241);
        width: 300px;
        height: 200px;
            gap: 20px;
}
.card-icon{
    width: 48px;
        height: 48px;
        margin: 0 auto 16px;
        border-radius: 50%;
        background:rgb(5, 194, 241);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        }
.card-icon h2{
    font-size: 15px;
    color: rgb(240, 209, 7);

 
}
.card-icon p{
    font-size: 12px;
  color: white;
}

.bm{
    font-size: 16px;
    text-align: center;
    color: black;
}

.solution{
    padding: 120px 0;
    background-color: rgb(5, 194, 241);
}

.solution-container{
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 24px;

}

.solution-graphic{
    display: flex;
    justify-content: center;
    flex: 1;
}
.solution-graphic img{
    width: 600px;
    height: 600px;
    border-radius: 24px;
    box-shadow: 0 20px black ;
}
.solution-info{
flex: 1;
max-width: 520px;

}

.label{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color:black;
    display: inline-block;
    margin-bottom: 16px;
    margin-left: 18px;
    text-shadow: 2px 4px 6px rgb(240, 209, 7);
}

.solution-info h2{
    font-size: 42px;
    margin-bottom: 20px;
    color: rgb(240, 209, 7);
    margin-left: 18px;
    text-shadow: 2px 4px 6px black;
}
.solution-info p{
     font-size: 16px;
     line-height: 1.6;
     color:white;
     margin-bottom: 32px;
     margin-left: 18px;
 }

 .solution-list {
     list-style: none;
    
     display: flex;
     flex-direction: column;
     gap: 12px;
    
 }

 .solution-list li {
     display: flex;
     align-items: flex-start;
     gap: 10px;
    
     font-size: 15px;
     color: #334155;
 }
 .solution-list img {
     width: 18px;
     height: 18px;
     margin-top: 3px;
     margin-left: 18px;
     background-color: white;
     mask-image: url(./assets/CheckCircle.png);
 }
.last{
    padding: 50px 15px;
    background:rgb(5, 194, 241); 

}

.last-box{
    max-width: 900px;
    margin: 0 auto;
    background:white;
    text-align: center;
    padding: 36px 12px;
    border-radius: 10px;

}
.last-box h2{
    font-size: 32;
    margin-bottom: 10px;

}
.last-box p{
    font-size: 12px;
    margin-bottom: 18px;
    color: #585656;
}

.footer{
    background: white;
    color: black;
    padding: 36px 12px;
}
.footer-content{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.footer-content .link{
    display: flex;
    gap: 14px;
}
.footer-content img{
    mask-image: url(./assets/logo-footer.png);
    background-color: black;
    border-image: fill black;
}

.copy{
    margin-top: 20px;
}